<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script language="javascript" type="text/javascript" src="./style/jquery-3.3.1.min.js"></script>
  <script language="javascript" type="text/javascript" src="./style/vue2Dev.js"></script>
  <script language="javascript" type="text/javascript" src="./style/bootstrap-4.0.0/js/bootstrap.bundle.min.js"></script>

  <!-- <link rel="stylesheet" type="text/css" href="./style/style.css" /> -->

  <link rel="stylesheet" type="text/css" href="./style/bootstrap-4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="./style/toast-1.4/toast/toast.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="src/BitOperations.js"></script>

  <title>CS131-Bit Operations</title>
</head>

<body>
  <div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">CS 131 - Computer Organization</h1>
    <h3 class="display-8">Binary Operations</h3>
  </div>
  <div id="app">
    <div class=row>

      <div class="col-md-6">

        <div class="container container-fluid">
          <h1>Binary Number and Conversion</h1>
          <div class="mb-3" style="line-height:1">
            <p>Enter a bit string to see common conversions</p>
          </div>
          <form>
            <div class="form-group mb-3">
              <div class="mb-3">
                <input v-on:keyup="updateBN" id="Bit_Numbers_Input" v-model="BitNumbers.Input" required placeholder="Enter a Bit String" />
                {{ BitNumbers.isBit }}
              </div>
            </div>

          </form>

          <div class="table-responsive-sm">
            <div class="text-right float-left" style="font-family: Courier New, monospace; line-height:1">
              <table class="table table-md table-dark">
                <tbody>
                  <tr>
                    <td>
                      <div>Binary:</div>
                      <div>Decimal:</div>
                      <div>Hexidecimal:</div>
                      <div>Octal:</div>
                      <div>ASCII:</div>
                    </td>
                    <td>
                      <template v-if="BitNumbers.isBits">
                        <div>{{ BitNumbers.Current }}<sub> 2</sub></div>
                        <div>{{ BitNumbers.Decimal }} <sub>10</sub></div>
                        <div>{{ BitNumbers.Hex.toUpperCase() }} <sub>16</sub></div>
                        <div>{{ BitNumbers.Octal.toUpperCase() }} <sub>8</sub></div>
                        <div>{{ BitNumbers.Ascii }}</div>
                      </template>
                      <div v-else>
                        Input is not a valid bit string
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="text-left float-right" style="font-family: Courier New, monospace; line-height:1">
              <table class="table table-md table-dark">
                <tbody>

                  <div>2'S Complement Breakdown</div>
                  <tr>
                    <td>
                      <div>1. Input bits:</div>
                      <div>2. Flip the Bits:</div>
                      <div>3. Add 1:</div>
                    </td>
                    <td>
                      <template v-if="BitNumbers.isBits">
                        <div>{{ BitNumbers.Current }}<sub> 2</sub>({{ BitNumbers.Decimal}}<sub> 10</sub>)</div>
                        <div>{{ BitNumbers.TwosComp.OnesComp }}<sub> 2</sub></div>
                        <div>{{ BitNumbers.TwosComp.Value}}<sub> 2</sub>({{ BitNumbers.TwosComp.Decimal}}<sub> 10</sub>)</div>
                        <!-- <div>({{ BitNumbers.TwosComp.Decimal}}<sub> 10</sub>)</div> -->
                      </template>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <!-- <svg id="ArithSvg" width="300" height="200">
                        <rect width="100%" height="100%" fill="green" />
                    </svg> -->
        </div>
      </div>


      <div class="col-md-6">

        <div class="container container-fluid">
          <h1>Binary Logic</h1>
          <div class="mb-3" style="line-height:1">
            <p>Enter two binary strings ('1's and '0's only) in the input filed, below</p>
            <p>Standard logical operations are displayed</p>
            <p>Note: entered bit strings are padded with zero in the output if the 2 bit strings are
              different lengths </p>
          </div>
          <form>
            <div class="form-group mb-3">
              <div class="mb-3">
                <input v-on:keyup="updateBL" id="Bit_Logic_Input_1" v-model="BitLogic.Input1" required placeholder="Enter a Bit String 1" />
                <input v-on:keyup="updateBL" id="Bit_Logic_Input_2" v-model="BitLogic.Input2" required placeholder="Enter a Bit String 2" />
              </div>
            </div>

          </form>

          <div class="table-responsive-sm">
            <div class="text-right float-left" style="font-family: Courier New, monospace; line-height:1">
              <table class="table table-md table-dark">
                <tbody>
                  <tr>
                    <td>
                      <div> {{ BitLogic.Current1 }}</div>
                      <div>or {{ BitLogic.Current2 }}</div>
                      <div>{{ "-".repeat(BitLogic.Uline) }}</div>
                      <div> {{ BitLogic.OR }}</div>
                    </td>
                    <td>
                      <div> {{ BitLogic.Current1 }}</div>
                      <div>and {{ BitLogic.Current2 }}</div>
                      <div>{{ "-".repeat(BitLogic.Uline) }}</div>
                      <div> {{ BitLogic.AND }}</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div>not {{ BitLogic.Input1 }}</div>
                      <div>{{ "-".repeat(BitLogic.Input1.length) }}</div>
                      <div> {{ BitLogic.NOT1 }}</div>
                    </td>
                    <td>
                      <div>not {{ BitLogic.Input2 }}</div>
                      <div>{{ "-".repeat(BitLogic.Input2.length) }}</div>
                      <div> {{ BitLogic.NOT2 }}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- <svg id="logicSvg" :width="areaWidth" :height="areaHeight">

                        <defs>
                          <linearGradient id="RectGradient" gradientTransform="rotate(60)">
                            <stop offset="5%" stop-color="#f5f5f0" />
                            <stop offset="95%" stop-color="#c2c2a3" />
                          </linearGradient>
                        </defs>
                      
                      <g id="logicSvgGroupOR" visibility="inherit">
                        <rect :width="rectWidth" :height="rectHeight" :cx="rect1X" :cy="rect1Y"/>
                    <text width="100" x="100" y="40"> {{ BitLogic.Current1 }}</text>
                    <text x="0" y="70" font-size="26">or</text>
                    <text x="100" y="80">{{ BitLogic.Current2 }}</text>
                    <line x1="80" y1="80" x2="200" y2="80" style="stroke:rgba(17, 0, 255, 0.788);stroke-width:1" />
                    <text x="100" y="80">{{ "-".repeat(BitLogic.Uline) }}</text>
                    <text x="100" y="100"> {{ BitLogic.OR }}</text>

                    </g>

                    <g id="logicSvgGroupAND" visibility="inherit">
                        <rect :width="rectWidth" :height="rectHeight" :x="rect2X" :y="rect2Y" />
                    </g>

                    <g id="logicSvgGroupNOT1" visibility="inherit">
                        <rect :width="rectWidth" :height="rectHeight" :x="rect3X" :y="rect3Y" />
                    </g>

                    <g id="logicSvgGroupNOT2" visibility="inherit">
                        <rect :width="rectWidth" :height="rectHeight" :x="rect4X" :y="rect4Y" />
                    </g>
                    </svg> -->
        </div>
      </div>


      <div class="col-md-6">

        <div class="container container-fluid">
          <h1>Binary Arithmetic</h1>
          <div class="mb-3" style="line-height:1">
            <p>Enter two binary strings ('1's and '0's only) in the input filed, below</p>
            <p>Standard add operation is displayed with answer in base 2, 10, and 16</p>
            <p>Note: entered bit strings are sign-extended in the output if the 2 bit strings are different
              lengths </p>
          </div>
          <form>
            <div class="form-group mb-3">
              <div class="mb-3">
                <input v-on:keyup="updateBA" id="Bit_Arith_Input_1" v-model="BitArith.Input1" required placeholder="Enter a Bit String 1" />
                <input v-on:keyup="updateBA" id="Bit_Arith_Input_2" v-model="BitArith.Input2" required placeholder="Enter a Bit String 2" />
              </div>
            </div>

          </form>

          <div class="table-responsive-sm">
            <div class="text-right float-left" style="font-family: Courier New, monospace; line-height:1">
              <table class="table table-md table-dark">
                <tbody>
                  <tr>

                    <td>
                      <div> {{ BitArith.Current1 }}</div>
                      <div>+ {{ BitArith.Current2 }}</div>
                      <div>{{ "-".repeat(BitArith.Uline) }} </div>
                      <div> {{ BitArith.ADD }}</div>

                      <p></p>
                      <div>Binary: {{ BitArith.ADD }}<sub> 2</sub></div>
                      <div>Decimal: {{ BitArith.Decimal }} <sub>10</sub></div>
                      <div>Hexidecimal: 0x{{ BitArith.Hex.toUpperCase() }} <sub>16</sub></div>
                      <div>ASCII: {{ BitArith.Ascii }}</div>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- <svg id="ArithSvg" width="300" height="200">
                        <rect width="100%" height="100%" fill="green" />
                    </svg> -->
        </div>
      </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
      <p>Mark Kozel (MKozel@HancockCollege.edu)</p>
      <p>OER/CC copyright: Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)</p>
    </div>

  </div>

  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          BitOps: null,

          BitNumbers: {
            Input: '0111',
            isBits: 'true',
            Current: '0111',
            Decimal: '7',
            Hex: '7',
            Octal: '7',
            Ascii: 'non-printable',
            TwosComp: {
              OnesComp: '1000',
              Value: '1001',
              Decimal: '-7'
            }
          },
          BitLogic: {
            Input1: '1001',
            Input2: '1100',
            Current1: '1001',
            Current2: '1100',
            Uline: '4',
            OR: '1101',
            AND: '1000',
            NOT1: '0110',
            NOT2: '0011',
          },

          BitArith: {
            Input1: '0111',
            Input2: '0110',
            Current1: '0111',
            Current2: '0110',
            Current1_Dec: '7',
            Current2_Dec: '6',
            Uline: '4',
            ADD: '1101',
            Overrun: false,
            Decimal: '13',
            Hex: 'd',
            Ascii: '',
          },

          areaWidth: 600,
          areaHeight: 300,
        }
      },
      computed: {
        rectWidth() {
          return this.areaWidth / 2;
        },
        rectHeight() {
          return this.areaHeight / 2;
        },

        rect1X() {
          return 0;
        },
        rect1Y() {
          return 0;
        },
        rect2X() {
          return this.areaWidth / 2;
        },
        rect2Y() {
          return 0;
        },
        rect3X() {
          return 0;
        },
        rect3Y() {
          return this.areaHeight / 2;
        },
        rect4X() {
          return this.areaWidth / 2;
        },
        rect4Y() {
          return this.areaHeight / 2;
        },
      },

      mounted: function () {
        this.BitOps = new BitOperations();
      },
      methods: {
        signExtendInputs(bitString1, bitString2, type) {
          let result = bitString1;
          let padBit = '';
          let len = 0;

          if (bitString1.length > 0 && bitString2.length > 0) {

            if (type === "Logic") {
              this.BitLogic.Uline = Math.max(bitString1.length, bitString2.length);
              len = this.BitLogic.Uline;
              padBit = "0";
            }
            if (type === "Arithmetic") {
              this.BitArith.Uline = Math.max(bitString1.length, bitString2.length);
              len = this.BitArith.Uline;
              padBit = bitString1.charAt(0);
            }
            result = this.BitOps.signExtend(bitString1, len, padBit);
          }
          return result;
        },

        /**
         * Called on 'keyup' event for Bit Number Input
         */
        updateBN() {
          if (this.BitOps.isBitString(this.BitNumbers.Input)) {
            this.BitNumbers.isBits = true;
            this.BitNumbers.Current = this.BitNumbers.Input;

            var twosCompResult = this.BitOps.twosComplement(this.BitNumbers.Current);
            this.BitNumbers.TwosComp.Value = twosCompResult.binary;
            this.BitNumbers.TwosComp.OnesComp = twosCompResult.onesComp;
            this.BitNumbers.TwosComp.Decimal = twosCompResult.decimal;

            var conversion = this.BitOps.convert(this.BitNumbers.Input);
            this.BitNumbers.Decimal = conversion.decimal;
            this.BitNumbers.Octal = conversion.decimal;
            this.BitNumbers.Hex = conversion.hexadecimal;
            this.BitNumbers.Ascii = conversion.ascii;

          } else {
            this.BitNumbers.isBits = false;
          }
        },
        /**
         * Called on 'keyup' event for Bit Logic Input 1 or 2
         */
        updateBL() {
          if (this.BitLogic.Input1) {
            this.BitLogic.Current1 = this.signExtendInputs(this.BitLogic.Input1, this.BitLogic.Input2, "Logic");
            this.BitLogic.NOT1 = this.BitOps.not(this.BitLogic.Input1);
          } else {
            this.BitLogic.NOT1 = '';
            this.BitLogic.OR = '';
            this.BitLogic.AND = '';
          }

          if (this.BitLogic.Input2) {
            this.BitLogic.Current2 = this.signExtendInputs(this.BitLogic.Input2, this.BitLogic.Input1, "Logic");
            this.BitLogic.NOT2 = this.BitOps.not(this.BitLogic.Input2);
          } else {
            this.BitLogic.NOT2 = '';
            this.BitLogic.OR = '';
            this.BitLogic.AND = '';
          }

          if (this.BitLogic.Current1 && this.BitLogic.Input2) {
            //Since the other input has user input, ok to sign extend and perform OR/AND functions
            this.BitLogic.OR = this.BitOps.or(this.BitLogic.Current1, this.BitLogic.Current2);
            this.BitLogic.AND = this.BitOps.and(this.BitLogic.Current1, this.BitLogic.Current2);
          }

        },

        /**
         * Called on 'keyup' event for Bit Arith Input 1 or 2
         */
        updateBA() {
          if (this.BitArith.Input1) {
            this.BitArith.Current1 = this.signExtendInputs(this.BitArith.Input1, this.BitArith.Input2, "Arithmetic");
          } else {
            this.BitArith.ADD = '';
            this.Bit_Arith_Result_Add_Overrun = '';
            this.BitArith.Decimal = '';
            this.BitArith.Hex = '';
            this.BitArith.Ascii = '';
          }

          if (this.BitArith.Input2) {
            this.BitArith.Current2 = this.signExtendInputs(this.BitArith.Input2, this.BitArith.Input1, "Arithmetic");
          } else {
            this.BitArith.ADD = '';
            this.Bit_Arith_Result_Add_Overrun = '';
            this.BitArith.Decimal = '';
            this.BitArith.Hex = '';
            this.BitArith.Ascii = '';
          }

          if (this.BitArith.Input1 && this.BitArith.Input2) {
            var addition = this.BitOps.addBitStrings(this.BitArith.Current1, this.BitArith.Current2);
            this.BitArith.ADD = addition.sum;

            if (addition.carryOut === 0) {
              this.BitArith.Overrun = false;
            } else {
              this.BitArith.Overrun = true;
            }

            var conversion = this.BitOps.convert(this.BitArith.ADD);
            this.BitArith.Decimal = conversion.decimal;
            this.BitArith.Hex = conversion.hexadecimal;
            this.BitArith.Ascii = conversion.ascii;
          }
        }
      }
    })
  </script>

  <style>
    rect {
      fill: url(#RectGradient)
    }

    text {
      color: #ffffff;
      text-align: right;
      padding-right: 80px
    }
  </style>

</body>

</html>