<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script language="javascript" type="text/javascript" src="./style/jquery-3.3.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="./style/vue2Dev.js"></script>
    <script language="javascript" type="text/javascript" src="./style/bootstrap-4.0.0/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./style/bootstrap-4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./style/toast-1.4/toast/toast.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="src/BitOperations.js"></script>

    <title>Bit Operations</title>
</head>

<body>
    <div id="app">
        <div class="container container-fluid">
            <div class="row">
                <div class="col">
                    <h1>Binary Logic</h1>
                    <div class="mb-3" style="line-height:1">
                        <p>Enter two binay strings ('1's and '0's only) in the input filed, below</p>
                        <p>Standard logical operations are displayed</p>
                        <p>Note: entered bit strings are padded with zero in the output if the 2 bit strings are different lengths </p>
                    </div>
                    <form>
                        <div class="form-group mb-3">
                            <div class="mb-3">
                                <input v-on:keyup="updateBL1" id="Bit_Logic_Input_1" v-model="Bit_Logic_Input_1" required placeholder="Enter a Bit String 1" />
                                <input v-on:keyup="updateBL2" id="Bit_Logic_Input_2" v-model="Bit_Logic_Input_2" required placeholder="Enter a Bit String 2" />
                            </div>
                        </div>

                    </form>

                    <div class="table-responsive-sm">
                        <div class="text-right float-left" style="font-family: Courier New, monospace; line-height:1">
                            <table class="table table-md table-dark">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div> {{ BLCurrent_1 }}</div>
                                            <div>or {{ BLCurrent_2 }}</div>
                                            <div>
                                                {{ "-".repeat(BLUnderline) }}
                                            </div>
                                            <div> {{ Bit_Logic_Result_OR }}</div>
                                        </td>
                                        <td>
                                            <div> {{ BLCurrent_1 }}</div>
                                            <div>and {{ BLCurrent_2 }}</div>
                                            <div>
                                                {{ "-".repeat(BLUnderline) }}
                                            </div>
                                            <div> {{ Bit_Logic_Result_AND }}</div>
                                        </td>
                                        <tr>
                                            <td>
                                                <div>not {{ Bit_Logic_Input_1 }}</div>
                                                <div>
                                                    {{ "-".repeat(Bit_Logic_Input_1.length) }}
                                                </div>
                                                <div> {{ Bit_Logic_Result_NOT1 }}</div>
                                            </td>
                                            <td>
                                                <div>not {{ Bit_Logic_Input_2 }}</div>
                                                <div>
                                                    {{ "-".repeat(Bit_Logic_Input_2.length) }}
                                                </div>
                                                <div> {{ Bit_Logic_Result_NOT2 }}</div>
                                            </td>
                                        </tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Binary Arithmetic</h1>

                    <form>
                        <div class="form-group">
                            <label for="Bit_Math_Input_1">Input Bit String</label>
                            <input type="text" class="form-control" id="Bit_Math_Input_1" placeholder="Enter a Bit String">
                            <label for="Bit_Math_Input_2">Input Bit String</label>
                            <input type="text" class="form-control" id="Bit_Math_Input_2" placeholder="Enter a Bit String">
                        </div>
                        <button type="button" class="btn btn-primary" id="Bit_Math_Calculate">Calculate</button>

                    </form>
                    <label type="text" id="Bit_Math_Result_Add"></label><br>
                    <label type="text" id="Bit_Math_Result_Decimal"></label><br>
                    <label type="text" id="Bit_Math_Result_Hex"></label>
                </div>

            </div>
        </div>
    </div>


    <!-- <div class="container container-fluid">
            <div class="form-group">
                <textarea id='log' class='form-control' placeholder="All actions get logged here..." rows="25" cols="30"></textarea>
            </div>
        </div> -->
    </div>

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    BitOps: null,
                    Bit_Logic_Input_1: '',
                    Bit_Logic_Input_2: '',
                    BLCurrent_1: '',
                    BLCurrent_2: '',
                    BLUnderline: '',
                    Bit_Logic_Result_OR: '',
                    Bit_Logic_Result_AND: '',
                    Bit_Logic_Result_NOT1: '',
                    Bit_Logic_Result_NOT2: '',
                }
            },
            mounted: function() {
                this.BitOps = new BitOperations();
            },
            methods: {
                signExtendInputs(bitString1, bitString2) {
                    result = bitString1;
                    if (bitString1.length > 0 && bitString2.length > 0) {
                        this.BLUnderline = Math.max(bitString1.length, bitString2.length);
                        let padBit = bitString1.charAt(0);
                        result = this.BitOps.signExtend(bitString1, this.BLUnderline, "0");
                    }
                    return result;
                },
                /**
                 * Called on 'keyup' event for Bit Logic Input 2
                 */
                updateBL1(ent) {
                    this.BLCurrent_1 = this.signExtendInputs(this.Bit_Logic_Input_1, this.Bit_Logic_Input_2);

                    if (this.Bit_Logic_Input_2) {
                        //Since the other input has user input, ok to sign extend and perform OR/AND functions
                        this.BLCurrent_2 = this.signExtendInputs(this.Bit_Logic_Input_2, this.Bit_Logic_Input_1);
                        this.Bit_Logic_Result_OR = this.BitOps.or(this.BLCurrent_1, this.BLCurrent_2);
                        this.Bit_Logic_Result_AND = this.BitOps.and(this.BLCurrent_1, this.BLCurrent_2);
                    } else {
                        this.Bit_Logic_Result_OR = '';
                        this.Bit_Logic_Result_AND = '';
                    }

                    if (this.Bit_Logic_Input_1) {
                        this.Bit_Logic_Result_NOT1 = this.BitOps.not(this.Bit_Logic_Input_1);
                    } else {
                        this.Bit_Logic_Result_NOT1 = '';
                    }
                },
                /**
                 * Called on 'keyup' event for Bit Logic Input 2
                 */
                updateBL2(ent) {
                    //Pad this based on max of both inputs
                    this.BLCurrent_2 = this.signExtendInputs(this.Bit_Logic_Input_2, this.Bit_Logic_Input_1);

                    if (this.Bit_Logic_Input_1) {
                        //Since the other input has user input, ok to sign extend and perform OR/AND functions
                        this.BLCurrent_1 = this.signExtendInputs(this.Bit_Logic_Input_1, this.Bit_Logic_Input_2);
                        this.Bit_Logic_Result_OR = this.BitOps.or(this.BLCurrent_1, this.BLCurrent_2);
                        this.Bit_Logic_Result_AND = this.BitOps.and(this.BLCurrent_1, this.BLCurrent_2);
                    } else {
                        this.Bit_Logic_Result_OR = '';
                        this.Bit_Logic_Result_AND = '';
                    }

                    if (this.Bit_Logic_Input_2) {
                        this.Bit_Logic_Result_NOT2 = this.BitOps.not(this.Bit_Logic_Input_2);
                    } else {
                        this.Bit_Logic_Result_NOT2 = '';
                    }
                },
            }
        })
    </script>

</body>

</html>